In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
newind = 'A B C D E F G'.split()

In [4]:
newind

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [5]:
outside = ['G1','G1','G1','G2','G2','G2']

In [6]:
inside = [1,2,3,1,2,3]

In [7]:
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [9]:
df

             A         B
G1 1 -3.691316 -0.988677
   2 -0.118627  0.660997
   3 -1.138463 -1.486112
G2 1 -1.530104 -0.864083
   2  0.655473 -0.008071
   3 -1.829587 -1.873056

In [15]:
df.loc['G1'].loc[1]['B']

-0.9886773928271481

In [18]:
df.index.names = ['Groups','Num']

In [19]:
df

                   A         B
Groups Num
G1     1   -3.691316 -0.988677
       2   -0.118627  0.660997
       3   -1.138463 -1.486112
G2     1   -1.530104 -0.864083
       2    0.655473 -0.008071
       3   -1.829587 -1.873056

In [20]:
df.xs('G1')

            A         B
Num
1   -3.691316 -0.988677
2   -0.118627  0.660997
3   -1.138463 -1.486112

In [21]:
df.xs(1,level='Num')

               A         B
Groups
G1     -3.691316 -0.988677
G2     -1.530104 -0.864083